body {
    background: white;
    padding:0px;
    margin: 0px;
}
#homepageImage img{
    width: 100%;
}
#topBackground {
    background: rgba(42,45,36,0.9);
    width: 100%;
    clear: both;
    height: 90px;
    margin:0px auto;
}
#topBackground p {
    float: left;
    font-family: YouYuan;
    color: white;
    font-size: 30px;
    top: 20px;
    margin: 0 auto;
    left:100px;
    z-Index: 6;
    width: 200px ;
    height: 50px;
    position: absolute;
}

#nav {
    height: 60px;
    /*border-top: #060 2px solid;
    border-bottom: #060 2px solid;*/
    display: inline-block;
    float: right;
    margin-top: 10px;
}

#nav ul {
    list-style: none;
    margin-right: 50px;
}

#nav li {
    display: inline;
    line-height: 40px;
}

#nav a {
    color: white;
    text-decoration: none;
    padding: 20px 20px;
}

#nav a:hover {
    color: yellow;
}

#end a{
    display: inline-table;
    line-height: 20px;
    height: 50px;
    color: white;
    text-decoration: none;
}
#end {
    background-color: black;
    height: 120px;
    width: 100%;
    margin: 0 0;
    padding: 0;

}

/*


 */


