p {
    margin:0 auto;
}

a {color: blue;  }

#topBackground {
    background: #3c1d0a;
    width: 1280px;
    height: 40px;
    margin:-10px auto;

}
#topBackground p {
    color: white;
    font-size:90%;
    top: 9px;
    /*left: 200px;*/
    left:300px;
    z-Index: 6;
    width: 479px;
    height: 21px;
    position: absolute;
}
#homepageImage {
    width: 100%;
}
#nav {
    list-style:none;
    width: 800px;
    height:35px;
    background: #CCC;
    margin: 0 auto;
    margin-top: 30px;
}

#nav ul{
    width:960px;
    height:35px;
}

#nav ul li{
    float: left;
    width:200px;
    list-style: none;
}